#root {
  text-align: center;
  color: aliceblue;
}

ul>li:hover {
  background-color: #3e3e4f;
}

.logo {
  color: aliceblue;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  align-items: center;
}
.menu > li > ul > li:hover {
  background-color: #525263
  ;
}

li {
  cursor: pointer;
  padding: 10px;
}

.mega {
  display: flex;
  align-self: center;
  width: 100vw;
  position: absolute;
  top: 7%;
}

.menu {
  background-color: #303041;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 10px 30px;
  padding: 10px;
}